alembic
altgraph
annotated-types
anyio
asgiref
attrs
autobahn
Automat
bcrypt
beautifulsoup4
blinker
cargo
certifi
cffi
channels
charset-normalizer
click
colorama
constantly
cryptography
dacite
daphne
Deprecated
distlib
Django
fastapi
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
h11
hyperlink
idna
incremental
itsdangerous
jaconv
Jinja2
keyboard
Mako
markdown-it-py
MarkupSafe
mdurl
mutagen
packaging
pefile
platformdirs
pyasn1
pyasn1_module
pycparser
pydantic
pydantic_core
pygame
Pygments
pyinstaller
pyinstaller-hooks-contrib
pykakasi
pyOpenSSL
python-dateutil
python-slugify
pytube
pywin32-ctypes
RapidFuzz
raylib
redis
requests
rich
service-identity
setuptools
six
sniffio
soundcloud-v2
soupsieve
spotdl
spotipy
SQLAlchemy
sqlparse
starlette
syncedlyrics
text-unidecode
Twisted
txaio
typing-inspection
typing_extensions
tzdata
Unidecode
urllib3
uvicorn
virtualenv
websockets
Werkzeug
whitenoise
windows-curses
wrapt
yt-dlp
ytmusicapi
zope.interface


